{% include '_header.twig' %}
{% include '_menu.twig' %}        
<div class="container">
    <h1>MEDIC - Zadanie rekrutacyjne</h1>
    <h2>Zadanie 2 - biblioteka do manipulacji tekstem</h1>
        <br/><br/>
        <form action="/library.php" method="post">
            <label for="fraza"/>Wprowadź frazę: </label>
            <input type="text" value="{% if fraza %}{{ fraza }}{% else %}Hello World!{% endif %}" name = "fraza" id="fraza"/>
            <input type="submit" value="Wykonaj" />
        </form>

        <div class="results">
            <br/><br/>
            {% if frazaWhole %}
                <strong>odwróć ciąg znaków:</strong> {{ frazaWhole }}
            {% endif %}
            <br/><br/>
            {% if frazaFirst %}
                <strong>odwróć ciąg znaków w pierwszym wyrazie:</strong> {{ frazaFirst }}
            {% endif %}
            <br/><br/>
            {% if frazaWholeFirst %}
                <strong>odwróć ciąg znaków w całości a potem w pierwszym wyrazie:</strong> {{ frazaWholeFirst }}
            {% endif %}
        </div> 
        <p>Przykładowy kod użycia biblioteki stringOpr: <br/>
        <pre>
            require_once ('lib/stringopr/stringOpr.php');
            $fraza = 'Hello World';
            //tworzenie obliektu biblioteki
            $stringOpr = new stringOpr($fraza);

            //odwracamy frazę w całości
            $frazaWhole = $stringOpr->reverseWhole();

            echo $frazaWhole;
        </pre>
            <br/>
            Bibliotekę stringOpr można rozbudować dodając do pliku lib/stringopr/stringOpr.php kolejną metodę np.:<br/>
            <pre>
            public function addSpot() {
                return join('.', $this->_stringArray);
            }
            </pre>
        </p>
</div><!-- /.container -->
{% include '_footer.twig' %} 