{% include '_header.twig' %}
{% include '_menu.twig' %}        
<div class="container">
    <h1>MEDIC - Zadanie rekrutacyjne</h1>
    <h2>Projekt Bazy</h1>
    <br/><br/>
    <p class="lead">Schemat Bazy:</p>
    Plik do ściągnięcia: <a href="/lib/files/Jamel.mwb">Mysql Workbench</a>
    <br/> <br/>
    <img src="/lib/img/medic.png" alt="schemat bazy danych firmy MEDIC" title="schemat bazy"/>
</div><!-- /.container -->
{% include '_footer.twig' %} 